  <!-- Movie Carousel -->
  <div class="movie-carousel">
    <div class="movie-carousel-track">
      {{#each movies as |movie| }}
      <div class="movie-card">
        <img src="./images/{{movie.filename}}" alt="{{movie.title}}">
      </div>
      <div class='fade'></div>
    {{/each}}
    </div>
  </div>