  <!-- Login Form -->
    <div class="login-container">
        <div>
            <h2>Login</h2>
            <form class="login-form" action="/api/users/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" class="form-control" required>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" class="form-control" required>
              </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <div class="signup-container col-md-6">
      <h2>Signup</h2>
      {{!-- <form class="form signup-form" action="/api/users" method="POST"> --}}
      <form class="form signup-form">
        <div class="form-group">
          <label for="name-signup">Name:</label>
          <input class="form-input" type="text" id="name-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Sign up</button>
        </div>
      </form>
    </div>

    <script src="/js/login.js"></script>